<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <h1> {{my_text}}
    {{user_name}}</h1>
</head>

<style>
 h1 {
  color: rgba(33, 115, 47, 0.88);
}
 .btn {
  background-color: #3da397;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 .btn {border-radius: 12px;}
    body {
  background: radial-gradient(circle, darkseagreen, white);
}

</style>



<body>
<form action='http://127.0.0.1:5000/patient/diag' method="POST">
    <p><input class="btn" type="submit" value="Информация о диагнозе"></p>
</form>
<form action='http://127.0.0.1:5000/patient/info' method="POST">
    <p><input class="btn" type="submit" value="Информация о лечащем враче"></p>
</form>
<form action='http://127.0.0.1:5000/patient/change' method="POST">
    <p><input class="btn" type="submit" value="Изменить данные"></p>
</form>
<form action='http://127.0.0.1:5000/patient/observs' method="POST">
    <p><input class="btn" type="submit" value="Информация c приемов"></p>
</form>


<form action='http://127.0.0.1:5000/' method="POST">
    <p><input class="btn" type="submit" value="Домашняя страница"></p>
</form>
</body>
</html>